

#section1, #section2, #section3{ 
    margin-top: 100px; 
    margin-bottom: 100px; 
    width: 100%;
}

#section1 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
     padding-bottom: 39px; 
     border-radius: 5px; 
     width: max-content; 
     position: relative; 
     bottom: -80px;
    }
#section2 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;
}
#section3 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: 500px; 
    position: relative; 
    bottom: -80px;
    left: 800px;
   
}
.box-top .p1{ 
    font-size: 15px; 
    font-weight: 600; 
    color: #000000;
}
.box-top .p2{ 
    font-size: 36px; 
    font-weight: 100; 
    color: #000000;
}

#section1 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
}
#section2 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
}
#section3 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
    right: 750px;
}
.box-bottom p{ 
    font-size: 18px; 
    font-weight: 400; 
    color: #000000;
}

#section3 .row{
    margin-top: 50%;
}

@media screen and (max-width:768px) {
    #section1 .box-top{
        width: auto;
        text-align: center;
        bottom: 0;
    }
    #section2 .box-top{
        width: auto;
        text-align: center;
        bottom: 0;
    }
    #section3 .box-top{
        width: 100%;
        text-align: center;
        bottom: 0;
    }
    #section1 .box-bottom{
        top: 0;
    }
    #section2 .box-bottom{
        top: 0;
    }
    #section3 .box-bottom{
        top: 0;
    }
    .box-top .p1{
        font-size: medium;
    }
    .box-top .p2{
        font-size: large;
        text-align: center;
    }
    .box-bottom p{
        font-size: 16px;
        font-weight: 400;
        width: max-content;
    }
}
